body {
    background-color: rgb(78, 76, 76);
    margin: 0;
}
header {
    background-color: #302d2d; 
}
h3 {
    text-indent: 1%;
    color: white;
    font-size: 90%;
    text-decoration: overline;
}
h1 {
    font-size: 325%;
    font-weight: bold;
    color: whitesmoke;
    text-indent: 1%;
}
nav ul li {
    background-color: #302d2d;
    font-size: 100%;
    color: white;
    padding: 2ch;
    border: 1px solid white;
}
nav ul {
    padding: 1em 0;
}
nav li {
    float: left;
    text-decoration: none;
    list-style-type: none;
}
nav ul li a {
    text-align: center;
}
a:link {
    color: white;
}
a:visited {
    color: lightgreen;
}
main {
    background-color: rgb(78, 76, 76);
    float: left;
}
h2 {
    color: white;
    font-size: 200%;
    border-top: 1px solid white;
    text-indent: 1%;
}
p {
    color: white;
    border: 2px solid black;
    text-indent: 1%;
    margin: 1% 1% 1% 1%;
}